/* Reset default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Apply styles to the entire page */
html {
    font-size: 16px;
}

/* Global styles */
body {
    font-family: Arial, sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    color: #4215e4;
    background-color: #ffffff;
}

#headers{
    background-color: #ffffff;
    color: black;
    text-align: center;
    height: 150px;
    width: 100 vh;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    top:0;
    z-index: 0;

}

#headers img {
    position: absolute;
    background-image: none;
    top: 45px;
    left: 68px;
    width: auto;
    height: auto;
    object-fit: cover; /* Stretch the image to cover the entire container */
    z-index: 0;
  }

  #headers p{
    position: absolute;
    color: #007bff;
    background-color: transparent;
    font-size: 1.7rem;
    font-weight: bold;
    top: 100px;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    
  }

  nav,headers{
    position: absolute;
    color: black;
    font-size: medium;
    font-weight: lighter;
    top: 65px;
    right: 0;
    left: 0;
    z-index: 0;
  }

  a,tr,nav.homemenu{
    margin-right: 8px;
    z-index: 0;
  }


#content{
    color: #4215e4;
    background-color: #ffffff;
    text-align: center;
    position:relative;
    top: 10px;
    right:0;
    bottom:0;
    left:0;
    z-index: 0;
}

#footer{
    background-color: grey;
    color: red;
    text-align: center;
    padding: 0px;
    height: 3.2cm;
    position: relative;
    display: block;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
}

/* Headings */
h1 {
    font-size: 2rem;
    font-weight: bold;
    /* margin-top: 0px;
    margin-bottom: 1rem; */
}

h2 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

h3 {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

/* Links */
a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/*This is for Banner Stylesheet */

.flex-banner{
  display: flex;
  flex-wrap: nowrap;
  background-color: slategrey;
  width: 97%;
  height: 170px;
  position: relative;
  padding: 0;
  z-index: 0;
  top: 5px;
  margin-bottom: 100px;

}

#banner-ornamen-1{
  background-color: transparent;
  display: flex;
  width: 10%;
  margin-left: 10px;
  text-align: left;
}

#banner-illustrasi{
  background-color: transparent;
  display: flex;
  width: 15%;
  margin-top: 10px;
  text-align: right;
  margin-bottom: 10px;
}

#banner-info{
  background-color: transparent;
  display: flex;
  width: 25%;
  margin-left: 10px;
  text-align: left;
  margin-top: 30px;
  margin-bottom: 30px;
}

.info-block-button{
  background-color: transparent;
  display: flex;
  width: 10%;
  margin-left: 10px;
  text-align: right;
  line-height: 43px;
  font-size: 21px;
  margin-top: 68px;
  margin-bottom: 68px;
}

#banner-ornamen-2{
  background-color: transparent;
  display: flex;
  width: 20%;
  margin-left: 10px;
  text-align: right;
}

#banner-ornamen-3{
  background-color: transparent;
  display: flex;
  width: 20%;
  margin-left: 10px;
  text-align: left;
  bottom: 0;
}

#brand-container{
  background-color:aliceblue;
  border-image: none;
  display: flex;
  flex-direction: column;
  text-align: center;
  line-height: 17px;
  width: 100%;
  position: relative;
  padding: 12px;
}

.brand-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.brand-row1{
  display: flex;
  text-align: center;
}

.brand-row2{
  display: flex;
  text-align: center;
}

.brand-row3{
  display: flex;
  text-align: center;
}

#child-brand{
  width: 11%;
  padding: 43px;
}

/* This is for Carousel Group stylesheet */

.content {
  max-width: 90%;
  margin: 0 auto;
  position: relative;
}

.carousel {
  display: flex;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 728px;
}

.carousel > .slide:first-child {
	opacity: 1;
}

.slider-utama {
	width: 100%;
	height: 400px;
	position: relative;
}

.slide {
  display: flex;
  flex: 0 0 100%;
  transition: transform 0.5s ease-in-out;
  float: left;
	position: absolute;
	width: 100%;
	height: 100%;
	/* opacity: 0; */
	transition: opacity 3s linear;
}

.slide img {
  width: 100%;
}

.prev-button, .next-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    border: blue;
    border-radius: 8%;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    font-size: 20px;
    cursor: pointer;
  }

.prev-button:hover,
.next-button:hover {
  opacity: 0.5;
}

.prev-button {
  left: 0;
}

.next-button {
  right: 0;
}

/* Splider CSS */
/* Set height and width of carousel */
.splide {
  width: 1000px;
  height: 80px;
}

/* Style individual carousel slides */
.splide__slide img {
  width: 40%;
  height: 10%;
  object-fit: cover;
}

/* Style the navigation arrows */
.splide__arrow {
  font-size: 2rem;
  color: #000;
}

/* Style the pagination dots */
.splide__pagination__page {
  background-color: #abb8c3;
  opacity: 0.5;
}

.splide__pagination__page.is-active {
  opacity: 1;
}

.container {
	width: 1024px;
	margin: auto;
	
}


/* stylesheet contact information */

#content-info{
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
  display: block;
}

@media (min-width: 576px)
.box>* {
    padding: 48px 32px 80px;
}
.box>* {
    box-shadow: 0 0 12px 0 rgb(0 0 0 / 16%);
    border-radius: 16px;
    padding: 24px 16px 60px;
}

/* kelompok stylesheet box */

#card-container{
  background-color:white;
  border-image: none;
  display: flex;
  flex-direction: row;
  text-align: center;
  line-height: 17px;
  width: 100%;
  position: relative;
  padding: 12px;
  margin-bottom: 80px;
}

.info-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 48%;
  height: 662.5px;
  background: linear-gradient(to bottom right, #2196F3, #0069c0);
  color: white;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  text-align: center;
  padding: 20px;
}

.info-card img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 20px;
}

.info-card h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.info-card p {
  font-size: 16px;
  margin-bottom: 20px;
}

.info-card-double {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 662.5px;
  background: linear-gradient(to bottom right, #2196F3, #0069c0);
  color: white;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  text-align: center;
  padding: 20px;
}

.info-card-double img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 20px;
}

.info-card-double h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.info-card-double p {
  font-size: 16px;
  margin-bottom: 20px;
}

.horizontal-flex{
  flex-direction: row;
  padding: .75em;
}

.vertical-flex{
  flex-direction: column;
  padding: .75em;
}

.info-card-button {
  flex-direction: row;
  background-color: white;
  color:black;
  border: none;
  padding: calc(.667em + 2px) calc(1.333em + 2px);
  border-radius: 9999px;
  box-shadow: none;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  font-size: 1em;
  margin: 3px;
}

.info_card button:hover {
  background-color: transparent;
  color: white;
}


.regular-space{
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50 px;
  height: 662,5px;
}

/* Mini Cards for Knowledges  */

.mc_knowledge{
  background-color: #abb8c3;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  width: 200px;
  height: 150px;
}

.mc_knowledge h5{
  margin-top: 0;
}

.mc_knowledge p{
  margin-bottom: 0;
}

.mc_knowledge img{
  align-content: center;
}

.card-lightgrey{
  background-color:#abb8c3;
}