/* Reset default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Apply styles to the entire page */
html {
    font-size: 16px;
}

/* Global styles */
body {
    font-family: Arial, sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    color: #4215e4;
    background-color: #ffffff;
}

#headers{
    background-color: #ffffff;
    color: black;
    text-align: center;
    height: 150px;
    width: 100 vh;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    top:0;
    z-index: 0;

}

#headers img {
    position: absolute;
    background-image: none;
    top: 45px;
    left: 68px;
    width: auto;
    height: auto;
    object-fit: cover; /* Stretch the image to cover the entire container */
    z-index: 0;
  }

  #headers p{
    position: absolute;
    color: #007bff;
    background-color: transparent;
    font-size: 1.7rem;
    font-weight: bold;
    top: 100px;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    
  }

  nav,headers{
    position: absolute;
    color: black;
    font-size: medium;
    font-weight: lighter;
    top: 65px;
    right: 0;
    left: 0;
    z-index: 0;
  }

  a,tr,nav.homemenu{
    margin-right: 8px;
    z-index: 0;
  }


#content{
    color: #4215e4;
    background-color: #ffffff;
    text-align: center;
    position:relative;
    top: 10px;
    right:0;
    bottom:0;
    left:0;
    z-index: 0;
}

#footer{
    background-color: grey;
    color: red;
    text-align: center;
    padding: 0px;
    height: 3.2cm;
    position: relative;
    display: block;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
}

/* Headings */
h1 {
    font-size: 2rem;
    font-weight: bold;
    /* margin-top: 0px;
    margin-bottom: 1rem; */
}

h2 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

h3 {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

/* Links */
a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/*This is for Banner Stylesheet */

.flex-banner{
  display: flex;
  flex-wrap: nowrap;
  background-color: slategrey;
  width: 97%;
  height: 170px;;
  position: relative;
  padding: 0;
  z-index: 0;
  top: 5px;
  margin-bottom: 100px;

}

/* .flex-banner > div {
  background-color: transparent;
  width: 100%;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
} */

#banner-ornamen-1{
  background-color: transparent;
  display: flex;
  width: 10%;
  margin-left: 10px;
  text-align: left;
}

#banner-illustrasi{
  background-color: transparent;
  display: flex;
  width: 15%;
  margin-top: 10px;
  text-align: right;
  margin-bottom: 10px;
}

#banner-info{
  background-color: transparent;
  display: flex;
  width: 25%;
  margin-left: 10px;
  text-align: left;
  margin-top: 30px;
  margin-bottom: 30px;
}

.info-block-button{
  background-color: transparent;
  display: flex;
  width: 10%;
  margin-left: 10px;
  text-align: right;
  line-height: 43px;
  font-size: 21px;
  margin-top: 68px;
  margin-bottom: 68px;
}

#banner-ornamen-2{
  background-color: transparent;
  display: flex;
  width: 20%;
  margin-left: 10px;
  text-align: right;
}

#banner-ornamen-3{
  background-color: transparent;
  display: flex;
  width: 20%;
  margin-left: 10px;
  text-align: left;
  bottom: 0;
}

/* This is for Carousel Group stylesheet */

.content {
  max-width: 90%;
  margin: 0 auto;
  position: relative;
}

.carousel {
  display: flex;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 728px;
}

.carousel > .slide:first-child {
	opacity: 1;
}

.slider-utama {
	width: 100%;
	height: 400px;
	position: relative;
}

.slide {
  display: flex;
  flex: 0 0 100%;
  transition: transform 0.5s ease-in-out;
  float: left;
	position: absolute;
	width: 100%;
	height: 100%;
	/* opacity: 0; */
	transition: opacity 3s linear;
}

.slide img {
  width: 100%;
}

.prev-button, .next-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    border: blue;
    border-radius: 8%;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    font-size: 20px;
    cursor: pointer;
  }

.prev-button:hover,
.next-button:hover {
  opacity: 0.5;
}

.prev-button {
  left: 0;
}

.next-button {
  right: 0;
}


/* Splider CSS */
/* Set height and width of carousel */
.splide {
  width: 1000px;
  height: 80px;
}

/* Style individual carousel slides */
.splide__slide img {
  width: 40%;
  height: 10%;
  object-fit: cover;
}

/* Style the navigation arrows */
.splide__arrow {
  font-size: 2rem;
  color: #000;
}

/* Style the pagination dots */
.splide__pagination__page {
  background-color: #000;
  opacity: 0.5;
}

.splide__pagination__page.is-active {
  opacity: 1;
}

.container {
	width: 1024px;
	margin: 2em auto;
	
}